{% load staticfiles %}
{% include 'navbar.html' %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

  <body>
  <div class="maincontainer">

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">


        <iframe src="../admin" width="1030" height="590">
        <p>Your browser does not support iframes.</p>
        </iframe>


      </div> <!--jumbotron end-->
    

    </div> <!-- /container -->
    </div>

  </body>
</html>